.aboutus_root_div {
  width: 100%;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  background-color: #f5f7f2;
}

.aboutus_header_div {
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../Images/about11.jpg");
  height: 1000px;
  padding-top: 40px;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.aboutus_heading {
  text-align: center;
  /* padding-top: 70px; */
  color: #05fbff;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  padding: 12px;
}

.aboutus_para {
  color: white;
  font-size: 18px;
  text-align: justify;
  padding: 0px 12px 12px 12px;
}

.contactus_button {
  width: 160px;
  background-image: linear-gradient(140deg, #810f85, #0cb8c4);
  border-radius: 0.7cm;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  font-family: "Oswald", sans-serif;
  border: 2px solid white;
  font-size: 26px;
}

.contactus_button:hover {
  background-image: linear-gradient(140deg, #ffffff, #ffffff);
  color: black;
  transition: 0.6s;
}

.signin_button {
  width: 160px;
  /* background-color: #c70479; */
  background-image: linear-gradient(100deg, #14f7f0, #810f85);
  border-radius: 0.7cm;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  font-family: "Oswald", sans-serif;
  border: 2px solid white;
  font-size: 26px;
}

.signin_button:hover {
  background-image: linear-gradient(140deg, #ffffff, #ffffff);
  color: black;
  transition: 0.6s;
}

.aboutus_icons {
  color: white;
  font-size: 30px;
  /* padding: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 730px) and (max-width: 992px) {
  .aboutus_heading {
    font-size: 86px;
    padding: 5px;
  }

  .aboutus_para {
    font-size: 18px;
    padding: 0px 0px 15px 0px;
  }
  .contact_us_icons_row_div {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
  .contactus_button {
    font-size: 25px;
  }

  .signin_button {
    font-size: 25px;
  }
}

@media (min-width: 500px) and (max-width: 729px) {
  .aboutus_heading {
    font-size: 70px;
    padding: 4px;
  }

  .aboutus_para {
    font-size: 18px;
    padding: 0px 5px 15px 5px;
  }

  .contact_us_icons_row_div {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
  .contactus_button {
    font-size: 23px;
  }

  .signin_button {
    font-size: 23px;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .aboutus_heading {
    font-size: 60px;
    padding: 4px;
  }

  .aboutus_para {
    font-size: 16px;
    padding: 0px 8px 15px 8px;
  }

  .contact_us_icons_row_div {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
  .contactus_button {
    font-size: 22px;
  }

  .signin_button {
    font-size: 22px;
  }
}

@media (min-width: 290px) and (max-width: 399px) {
  .aboutus_heading {
    font-size: 50px;
    padding: 4px;
  }

  .aboutus_para {
    font-size: 15px;
    padding: 0px 8px 15px 8px;
  }

  .contact_us_icons_row_div {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .contactus_button {
    font-size: 20px;
  }

  .signin_button {
    font-size: 20px;
  }
}

@media (max-width: 289px) {
  .aboutus_heading {
    font-size: 35px;
    padding: 4px;
  }

  .aboutus_para {
    font-size: 14px;
    padding: 0px 3px 15px 3px;
  }

  .contact_us_icons_row_div {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .contactus_button {
    font-size: 18px;
  }

  .signin_button {
    font-size: 18px;
  }
}
