nav {
  background-color: #f5f7f2;
}

a {
  font-weight: bold;
  font-size: 16px;
}

li :hover {
  background-color: #e60b87;
  border-radius: 0.2cm;
  color: white !important;
  /* transition: 0.2s; */
}

.navbar-brand {
  font-size: 25px !important;
  font-family: "Oswald", sans-serif;
  color: #b004ad !important;
}

li {
  padding-left: 10px;
  padding-right: 10px;
  /* margin-left: 3px;
  margin-right: 3px; */
}

.navlink_active {
  background-color: #e60b87;
  border-radius: 0.2cm;
  color: white !important;
}
