.weather_root_div {
  width: 100%;
  background-color: #f5f7f2;
  padding-top: 80px;
  padding-bottom: 60px;
  /* height: 100vh; */
}

.weather_main_div {
}

.form_city {
  background-color: white;
  padding: 8px;
  border-top-left-radius: 0.5cm;
  border-top-right-radius: 0.5cm;
}

.form_lat {
  background-color: white;
  padding: 8px;
  border-bottom-left-radius: 0.5cm;
  border-bottom-right-radius: 0.5cm;
}

.city_name_input {
  /* border-radius: 0.5cm; */
  border-top-left-radius: 0.5cm;
  border-bottom-left-radius: 0.5cm;
  border: 3px solid #25c1d9;
  padding: 6px 3px 6px 25px;
  outline: none;
  font-size: 17px;
  width: 80%;
}

.city_btn {
  outline: none;
  font-size: 17px;
  background-color: #25c1d9;
  color: white;
  border-top-right-radius: 0.5cm;
  border-bottom-right-radius: 0.5cm;
  padding: 6px 8px 6px 6px;
  border: 0px;
  width: 20%;
}

.lat_btn {
  outline: none;
  font-size: 17px;
  background-color: #25c1d9;
  color: white;
  border-radius: 0.4cm;
  padding: 6px 25px 6px 25px;
  border: 0px;
  margin-top: 30px;
}

.search_icons {
  color: white;
  font-size: 35px;
  padding: 3px;
}

.weather_data_main_div {
  height: 400px;
  border-radius: 0.2cm;
  background-color: white;
  padding: 0px;
}

.weather_header_design {
  background-image: linear-gradient(100deg, #05fff3, #13baac);
  height: 160px;
  width: 100%;
  border-bottom-left-radius: 4cm;
  border-bottom-right-radius: 4cm;
}

.weather_temperature_text {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
  margin-right: 0px;
  padding-top: 10px;
}

.max_min_temp {
  font-family: "Oswald", sans-serif;
  color: #faf9f5;
  font-size: 16px;
}

.body_city_name {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 35px;
  margin-top: 10px;
}

.body_weather_status {
  color: #8f9494;
  text-align: center;
  font-size: 20px;
}

.body_text {
  padding-left: 20px;
  color: black;
  /* font-family: "Oswald", sans-serif; */
  font-weight: bold;
}
